.amazon-link {
  color: rgb(0, 113, 133);
}

.nike-black-running-shoes-title {
  font-weight: bold;
  font-size: 24;
}

.cost-title {
  font-weight: bold;
  color: rgb(0, 118, 0);
}

.delivery-title {
  font-weight: bold;
}

.add-to-cart-button {
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 216, 20);
  height: 25px;
  width: 110px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 8px;
}

.buy-now-button {
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 164, 28);
  height: 25px;
  width: 110px;
  cursor: pointer;
  border-radius: 20px;
}
