.sign-up-button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 164, 79);
  height: 30px;
  width: 70px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10 0 0 rgb(0, 0, 0);
  transition: box-shadow 0.3s;
}
.sign-up-button:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}
